<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="snesclassicalert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <snesclassicalert.Properties.Settings>
          
            <!--
            Merchant List
            
            Each item in this list represents a merchant URL to monitor for SNES Classic availability.  
            The entries are comma separated and the syntax is as follows:
            
            [Merchant Name],[Item URL],[Search Pattern]
            
            The search pattern is text which will appear in the raw HTML returned by the website if the SNES Classic is in-stock.
            When the search pattern is found in an HTTP GET response, an alert is triggered.
            -->
            <setting name="Merchants" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>thinkgeek,http://www.thinkgeek.com/product/kmrn/?srp=5,IN STOCK</string>
                        <string>BH,https://www.bhphotovideo.com/c/product/1347308-REG/nintendo_snes_super_nintendo_classic_edition.html,TYPE="SUBMIT"&gt;ADD TO CART&lt;/BUTTON&gt;</string>
                        <string>Amazon,https://www.amazon.com/Super-NES-Classic-nintendo/dp/B0721GGGS9/ref=sr_1_3?s=videogames&amp;ie=UTF8&amp;qid=1506823304&amp;sr=1-3&amp;keywords=super+nes+classic,&amp;quot;79.99&amp;quot</string>
                        <string>GameStop,https://www.gamestop.com/snes/consoles/super-nes-classic-edition/152771,&lt;a onclick="AddToCartClicked(this);</string>
                    </ArrayOfString>
                </value>
            </setting>
          
            <!--
            Write_GET_Responses_To_Files
            
            Indicates whether you want the raw HTML GET responses received from each monitored merchant website
            to be written to a text file for manual analysis.  This is mostly a diagnostic feature.
            -->
            <setting name="Write_GET_Responses_To_Files" serializeAs="String">
                <value>True</value>
            </setting>
          
            <!--
            HTML_Output_Directory
            
            If you choose to have the raw HTML GET responses from each monitored merchant website written to a file,
            specify the directory where you would like these files to be written here.
            -->
            <setting name="HTML_Output_Directory" serializeAs="String">
                <value>D:\Temp</value>
            </setting>
          
            <!--
            Sleep_Timer_In_Minutes
            
            The amount of time you want the application to wait between merchant website checks.  Recommendation is
            to leave the default value (1) as supply tends to sell out within minutes in the single digits after
            availability is reported.
            -->
            <setting name="Sleep_Timer_In_Minutes" serializeAs="String">
                <value>1</value>
            </setting>
        </snesclassicalert.Properties.Settings>
    </applicationSettings>
</configuration>